<app-header
  title="privacy policy"
  [back]="true"
  [modal]="true"
></app-header>

<ion-content>
  <div class="p-3">
    <p>
      Dolphy is a mobile application developed to operate as a hybrid chat and commercial application. This SERVICE is built by Emad Hammami and is intended for use for both personal or business purposes.     </p>
    <p>
      The privacy policy for the use of this application is based on how and why we require basic user information and how we make use of the data provided to us in improving the app and assisting our users get the best experience.     </p>
    <p>
      Before making use of our Service, you agree to the collection and use of information in relation to this policy as stated therein. The terms used in this Privacy Policy have the same meaning as those used in our Terms and Condition, which is accessible in Dolphy unless otherwise stated.
    </p>
    <h4>Information Collection and Use </h4>
    <p>
      Users Personal Information (UPI) requested by us is for identification and improving different parts of our Service. We do not use or share user credentials with third party except as described in this Privacy Policy. For improvement of user experience while using our Service, we require users to provide us with certain personally identifiable information. Users Personal Information provided us will be retained and used as stated below.
    </p>
    <h4>
      Log Data
    </h4>
    <p>
      Our Service retains the right to save Users Personal information for analyzing errors encountered on user devices called Log Data and for device optimization. This data is required to troubleshoot the application and improving our service. Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.
    </p>
    <h4>
      Cookies
    </h4>
    <p>
      Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.
    </p>
    <p>
      Our Service does not use these “cookies” explicitly. However, we employ the use of third-party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being stored on your device. If you choose to refuse to accept cookies, you might not be able to enjoy the full potentials of the service we render.
    </p>
    <h4>Service Providers </h4>
    <p>
      We employ third-party companies and individuals due to the following reasons:
    </p>
    <ul>
      <li>To facilitate data analysis for our Service; </li>
      <li>To provide other services that enhances our system; </li>
      <li>To perform audit and security analysis;   </li>
    </ul>
    <p>Please be informed that third party applications are been provided data log for the reasons stated above and strictly obliged to protect them. </p>

    <h4>Security </h4>
    <p>
      We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
    </p>
    <h4>Links to Other Sites </h4>
    <p>
      This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us; Therefore, we strongly advise you to review the links before clicking on any to be sure they are not from fraudulent sources. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
    </p>

    <h4>Children’s Privacy </h4>
    <p>
      These Services do not address anyone under the age of 18. We do not knowingly collect personally identifiable information from children under 18 years of age. In the case we discover that a child under 18 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
    </p>

    <h4>Changes to This Privacy Policy </h4>
    <p>
      We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.
    </p>

    <p>This policy is effective as of 2021-08-07 </p>
  </div>
</ion-content>
